NEW SCRIPT

In [1]:
pip install yfinance

Collecting yfinance
  Downloading https://files.pythonhosted.org/packages/7a/e8/b9d7104d3a4bf39924799067592d9e59119fcfc900a425a12e80a3123ec8/yfinance-0.1.55.tar.gz
Requirement already satisfied: pandas>=0.24 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from yfinance) (1.19.4)
Requirement already satisfied: requests>=2.20 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from yfinance) (2.25.0)
Collecting multitasking>=0.0.7 (from yfinance)
  Downloading https://files.pythonhosted.org/packages/69/e7/e9f1661c28f7b87abfa08cb0e8f51dad2240a9f4f741f02ea839835e6d18/multitasking-0.0.9.tar.gz
Collecting lxml>=4.5.1 (from yfinance)
  Downloading https://files.pythonhosted.org/packages/bd/78/56a7c88a57d0d14945472535d0df9fb4bbad7d34ede658ec7961635c790e/lxml-4.6.2-cp36-cp36m-manylinux1_x86_64.whl (5.5MB)
     |████████████████████████████████| 5.5MB 810kB/s eta 0:00:01
Requirement already satisfied: pytz>=2017.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from pandas>=0.24->yfinance) (2020.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests>=2.20->yfinance) (1.25.11)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests>=2.20->yfinance) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: six>=1.5 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Building wheels for collected packages: yfinance, multitasking
  Building wheel for yfinance (setup.py) ... done
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/04/98/cc/2702a4242d60bdc14f48b4557c427ded1fe92aedf257d4565c
  Building wheel for multitasking (setup.py) ... done
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/37/fa/73/d492849e319038eb4d986f5152e4b19ffb1bc0639da84d2677
Successfully built yfinance multitasking
Installing collected packages: multitasking, lxml, yfinance
Successfully installed lxml-4.6.2 multitasking-0.0.9 yfinance-0.1.55
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [20]:
tickers = "SI=F ES=F CL=F YM=F GC=F ^TNX ^VIX EURCHF=X USDCHF=X JPYCHF=X EURUSD=X ^SSMI DX-Y.NYB GBPCHF=X"
start="2021-01-03"
end="2021-02-28" #non posso andare prima di 60 giorni dalla data della richiesta
period="1mo" #funziona
interval="30m"

In [31]:
import yfinance as yf
df = yf.download(tickers, start, end,  interval="30m", threads = True, prepost = True)

[*********************100%***********************]  14 of 14 completed

In [22]:
df

                           Adj Close                                         \
                                CL=F   DX-Y.NYB     ES=F EURCHF=X  EURUSD=X
Datetime
2021-01-03 22:00:00+00:00        NaN  89.931000      NaN      NaN       NaN
2021-01-03 23:00:00+00:00  48.490002        NaN  3751.25      NaN       NaN
2021-01-03 23:30:00+00:00  48.430000        NaN  3749.00      NaN       NaN
2021-01-04 00:00:00+00:00  48.430000        NaN  3746.50  1.08209  1.225340
2021-01-04 00:30:00+00:00  48.389999        NaN  3740.75  1.08169  1.224440
...                              ...        ...      ...      ...       ...
2021-02-26 21:00:00+00:00  61.709999  90.918999  3802.25  1.09708  1.207292
2021-02-26 21:30:00+00:00  61.660000  90.930000  3807.75  1.09678  1.207729
2021-02-26 22:00:00+00:00        NaN  90.929001      NaN  1.09638  1.208751
2021-02-26 22:30:00+00:00        NaN        NaN      NaN  1.09653       NaN
2021-02-26 23:00:00+00:00        NaN        NaN      NaN  1.09653       NaN

                                                                               \
                          GBPCHF=X         GC=F  JPYCHF=X       SI=F USDCHF=X
Datetime
2021-01-03 22:00:00+00:00      NaN          NaN       NaN        NaN      NaN
2021-01-03 23:00:00+00:00      NaN  1915.900024       NaN  26.955000      NaN
2021-01-03 23:30:00+00:00      NaN  1917.400024       NaN  27.014999      NaN
2021-01-04 00:00:00+00:00  1.20761  1915.800049  0.008570  26.945000  0.88369
2021-01-04 00:30:00+00:00  1.20780  1917.900024  0.008574  27.000000  0.88360
...                            ...          ...       ...        ...      ...
2021-02-26 21:00:00+00:00  1.26680  1731.000000  0.008529  26.620001  0.90890
2021-02-26 21:30:00+00:00  1.26407  1733.000000  0.008522  26.700001  0.90833
2021-02-26 22:00:00+00:00  1.26547          NaN  0.008520        NaN  0.90820
2021-02-26 22:30:00+00:00      NaN          NaN  0.008522        NaN  0.90850
2021-02-26 23:00:00+00:00      NaN          NaN  0.008522        NaN      NaN

                           ...   Volume                                    \
                           ... EURUSD=X GBPCHF=X    GC=F JPYCHF=X    SI=F
Datetime                   ...
2021-01-03 22:00:00+00:00  ...      NaN      NaN     NaN      NaN     NaN
2021-01-03 23:00:00+00:00  ...      NaN      NaN  6825.0      NaN  1289.0
2021-01-03 23:30:00+00:00  ...      NaN      NaN  4885.0      NaN  1538.0
2021-01-04 00:00:00+00:00  ...      0.0      0.0  2143.0      0.0  1035.0
2021-01-04 00:30:00+00:00  ...      0.0      0.0  2005.0      0.0  1214.0
...                        ...      ...      ...     ...      ...     ...
2021-02-26 21:00:00+00:00  ...      0.0      0.0  2115.0      0.0   450.0
2021-02-26 21:30:00+00:00  ...      0.0      0.0  1624.0      0.0   432.0
2021-02-26 22:00:00+00:00  ...      0.0      0.0     NaN      0.0     NaN
2021-02-26 22:30:00+00:00  ...      NaN      NaN     NaN      0.0     NaN
2021-02-26 23:00:00+00:00  ...      NaN      NaN     NaN      0.0     NaN


                          USDCHF=X    YM=F ^SSMI ^TNX ^VIX
Datetime
2021-01-03 22:00:00+00:00      NaN     NaN   NaN  NaN  NaN
2021-01-03 23:00:00+00:00      NaN  1728.0   NaN  NaN  NaN
2021-01-03 23:30:00+00:00      NaN  1666.0   NaN  NaN  NaN
2021-01-04 00:00:00+00:00      0.0  2023.0   NaN  NaN  NaN
2021-01-04 00:30:00+00:00      0.0  1872.0   NaN  NaN  NaN
...                            ...     ...   ...  ...  ...
2021-02-26 21:00:00+00:00      0.0  7561.0   NaN  NaN  0.0
2021-02-26 21:30:00+00:00      0.0  1455.0   NaN  NaN  NaN
2021-02-26 22:00:00+00:00      0.0     NaN   NaN  NaN  NaN
2021-02-26 22:30:00+00:00      0.0     NaN   NaN  NaN  NaN
2021-02-26 23:00:00+00:00      NaN     NaN   NaN  NaN  NaN

[1935 rows x 84 columns]

In [32]:
df=df["Adj Close"]

In [33]:
df

,CL=F,DX-Y.NYB,ES=F,EURCHF=X,EURUSD=X,GBPCHF=X,GC=F,JPYCHF=X,SI=F,USDCHF=X,YM=F,^SSMI,^TNX,^VIX
Datetime,,,,,,,,,,,,,,
2021-01-03 22:00:00+00:00,NaN,89.931000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-01-03 23:00:00+00:00,48.490002,NaN,3751.25,NaN,NaN,NaN,1915.900024,NaN,26.955000,NaN,30506.0,NaN,NaN,NaN
2021-01-03 23:30:00+00:00,48.430000,NaN,3749.00,NaN,NaN,NaN,1917.400024,NaN,27.014999,NaN,30505.0,NaN,NaN,NaN
2021-01-04 00:00:00+00:00,48.430000,NaN,3746.50,1.08209,1.225340,1.20761,1915.800049,0.008570,26.945000,0.88369,30474.0,NaN,NaN,NaN
2021-01-04 00:30:00+00:00,48.389999,NaN,3740.75,1.08169,1.224440,1.20780,1917.900024,0.008574,27.000000,0.88360,30431.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-02-26 21:00:00+00:00,61.709999,90.918999,3802.25,1.09708,1.207292,1.26680,1731.000000,0.008529,26.620001,0.90890,30866.0,NaN,NaN,27.95
2021-02-26 21:30:00+00:00,61.660000,90.930000,3807.75,1.09678,1.207729,1.26407,1733.000000,0.008522,26.700001,0.90833,30915.0,NaN,NaN,NaN
2021-02-26 22:00:00+00:00,NaN,90.929001,NaN,1.09638,1.208751,1.26547,NaN,0.008520,NaN,0.90820,NaN,NaN,NaN,NaN
2021-02-26 22:30:00+00:00,NaN,NaN,NaN,1.09653,NaN,NaN,NaN,0.008522,NaN,0.90850,NaN,NaN,NaN,NaN
2021-02-26 23:00:00+00:00,NaN,NaN,NaN,1.09653,NaN,NaN,NaN,0.008522,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
df.to_csv('gen-feb-21.csv',index=True, header=True)

In [77]:
df_saved=pd.read_csv('gen-feb-21.csv',index_col=0)

In [78]:
df_saved.shape

(1935, 14)

In [79]:
df_saved

,CL=F,DX-Y.NYB,ES=F,EURCHF=X,EURUSD=X,GBPCHF=X,GC=F,JPYCHF=X,SI=F,USDCHF=X,YM=F,^SSMI,^TNX,^VIX
Datetime,,,,,,,,,,,,,,
2021-01-03 22:00:00+00:00,NaN,89.931000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-01-03 23:00:00+00:00,48.490002,NaN,3751.25,NaN,NaN,NaN,1915.900024,NaN,26.955000,NaN,30506.0,NaN,NaN,NaN
2021-01-03 23:30:00+00:00,48.430000,NaN,3749.00,NaN,NaN,NaN,1917.400024,NaN,27.014999,NaN,30505.0,NaN,NaN,NaN
2021-01-04 00:00:00+00:00,48.430000,NaN,3746.50,1.08209,1.225340,1.20761,1915.800049,0.008570,26.945000,0.88369,30474.0,NaN,NaN,NaN
2021-01-04 00:30:00+00:00,48.389999,NaN,3740.75,1.08169,1.224440,1.20780,1917.900024,0.008574,27.000000,0.88360,30431.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-02-26 21:00:00+00:00,61.709999,90.918999,3802.25,1.09708,1.207292,1.26680,1731.000000,0.008529,26.620001,0.90890,30866.0,NaN,NaN,27.95
2021-02-26 21:30:00+00:00,61.660000,90.930000,3807.75,1.09678,1.207729,1.26407,1733.000000,0.008522,26.700001,0.90833,30915.0,NaN,NaN,NaN
2021-02-26 22:00:00+00:00,NaN,90.929001,NaN,1.09638,1.208751,1.26547,NaN,0.008520,NaN,0.90820,NaN,NaN,NaN,NaN
2021-02-26 22:30:00+00:00,NaN,NaN,NaN,1.09653,NaN,NaN,NaN,0.008522,NaN,0.90850,NaN,NaN,NaN,NaN
2021-02-26 23:00:00+00:00,NaN,NaN,NaN,1.09653,NaN,NaN,NaN,0.008522,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
df1=df.at_time('11:30')
df2=df.at_time('17:30')

In [31]:
df_select = pd.concat([df1, df2], axis=0)
df_select = df_select.sort_values(['Datetime'])

In [32]:
df_select

,CL=F,DX-Y.NYB,ES=F,EURCHF=X,EURUSD=X,GBPCHF=X,GC=F,JPYCHF=X,SI=F,USDCHF=X,YM=F,^SSMI,^TNX,^VIX
Datetime,,,,,,,,,,,,,,
2021-02-03 11:30:00+00:00,55.130001,91.225998,3834.75,1.07990,1.202068,1.22530,1836.099976,0.008547,26.770000,0.89890,30630.0,10854.519531,NaN,24.320000
2021-02-03 17:30:00+00:00,55.869999,91.134003,3832.00,1.08151,1.203514,1.22821,1837.199951,0.008564,26.990000,0.89927,30582.0,NaN,1.131,23.420000
2021-02-04 11:30:00+00:00,56.040001,91.484001,3821.25,1.08181,1.199328,1.22443,1813.400024,0.008567,26.445000,0.90242,30591.0,10849.679688,NaN,23.390000
2021-02-04 17:30:00+00:00,56.180000,91.557999,3850.75,1.08113,1.196458,1.23479,1789.400024,0.008572,26.150000,0.90392,30859.0,NaN,1.141,22.240000
2021-02-05 11:30:00+00:00,56.759998,91.432999,3885.00,1.08229,1.198466,1.23671,1802.800049,0.008554,26.605000,0.90340,31105.0,10807.809570,NaN,21.780000
2021-02-05 17:30:00+00:00,56.830002,91.046997,3888.00,1.08325,1.204094,1.23579,1812.599976,0.008532,27.049999,0.89987,31086.0,NaN,1.160,20.959999
2021-02-08 11:30:00+00:00,57.570000,91.170998,3893.75,1.08349,1.203369,1.23241,1821.300049,0.008527,27.250000,0.90070,31165.0,10813.500000,NaN,21.730000
2021-02-08 17:30:00+00:00,58.009998,90.978996,3893.75,1.08250,1.205110,1.23480,1833.699951,0.008543,27.580000,0.89859,31182.0,NaN,1.158,21.740000
2021-02-09 11:30:00+00:00,57.910000,90.584000,3903.75,1.08160,1.210947,1.23111,1844.800049,0.008538,27.709999,0.89340,31219.0,10757.419922,NaN,21.760000
2021-02-09 17:30:00+00:00,58.299999,90.528999,3910.25,1.08070,1.211094,1.23173,1839.000000,0.008527,27.450001,0.89272,31319.0,NaN,1.150,21.400000
2021-02-10 11:30:00+00:00,58.630001,90.417000,3917.75,1.08017,1.212856,1.23285,1841.599976,0.008493,27.295000,0.89095,31373.0,10875.849609,NaN,21.680000
2021-02-10 17:30:00+00:00,58.770000,90.315002,3898.75,1.07940,1.214034,1.23172,1843.000000,0.008498,27.150000,0.88926,31286.0,NaN,1.140,22.440001
2021-02-11 11:30:00+00:00,58.290001,90.396004,3914.25,1.07940,1.213003,1.23076,1842.400024,0.008490,27.174999,0.89016,31404.0,10867.610352,NaN,21.850000
2021-02-11 17:30:00+00:00,58.340000,90.434998,3896.50,1.08004,1.213003,1.23002,1826.800049,0.008493,27.014999,0.89062,31242.0,NaN,1.150,22.350000
2021-02-12 11:30:00+00:00,57.700001,90.609001,3903.75,1.08068,1.211094,1.23018,1818.699951,0.008498,27.160000,0.89262,31303.0,10849.299805,NaN,21.670000
2021-02-12 17:30:00+00:00,59.590000,90.414001,3915.25,1.08074,1.212856,1.23541,1819.800049,0.008486,27.285000,0.89146,31313.0,NaN,1.197,20.549999
2021-02-15 11:30:00+00:00,NaN,NaN,NaN,1.08022,1.213592,1.23823,NaN,0.008454,NaN,0.89042,NaN,10920.280273,NaN,NaN
2021-02-15 17:30:00+00:00,NaN,NaN,NaN,1.07990,1.213592,1.23848,NaN,0.008454,NaN,0.89018,NaN,NaN,NaN,NaN
2021-02-16 11:30:00+00:00,59.910000,90.168999,3953.25,1.08001,1.216989,1.23623,1815.800049,0.008414,27.655001,0.88774,31601.0,10929.250000,NaN,21.030000
2021-02-16 17:30:00+00:00,59.830002,90.551003,3932.00,1.08040,1.211240,1.24150,1796.000000,0.008418,27.309999,0.89220,31466.0,NaN,1.287,21.480000
2021-02-17 11:30:00+00:00,60.660000,90.842003,3926.50,1.08001,1.206564,1.24107,1790.000000,0.008446,27.170000,0.89530,31460.0,10836.490234,NaN,21.540000
2021-02-17 17:30:00+00:00,60.619999,90.902000,3913.75,1.08189,1.205255,1.24457,1775.099976,0.008490,27.340000,0.89821,31457.0,NaN,1.280,22.309999
2021-02-18 11:30:00+00:00,61.360001,90.682999,3913.25,1.08290,1.207584,1.25072,1783.000000,0.008478,27.205000,0.89700,31482.0,10809.379883,NaN,22.840000
2021-02-18 17:30:00+00:00,60.740002,90.629997,3894.50,1.08280,1.208605,1.25162,1775.000000,0.008475,27.120001,0.89600,31319.0,NaN,1.287,23.059999
2021-02-19 11:30:00+00:00,59.119999,90.259003,3916.75,1.08529,1.214182,1.25144,1767.099976,0.008478,27.030001,0.89415,31460.0,10709.519531,NaN,22.550000
2021-02-19 17:30:00+00:00,59.270000,90.283997,3909.00,1.08672,1.213003,1.25659,1782.000000,0.008491,27.405001,0.89612,31494.0,NaN,1.343,22.040001
2021-02-22 11:30:00+00:00,NaN,90.271004,3873.50,1.08969,1.214182,1.25892,1794.199951,0.008506,27.490000,0.89781,31254.0,10691.099609,NaN,24.120000
2021-02-22 17:30:00+00:00,61.020000,90.014999,3890.75,1.08920,1.216989,1.26085,1808.599976,0.008513,28.040001,0.89534,31538.0,NaN,1.359,22.270000
2021-02-23 11:30:00+00:00,62.130001,90.124001,3857.00,1.09410,1.215806,1.26836,1808.300049,0.008554,28.025000,0.90032,31469.0,10547.419922,NaN,24.610000
2021-02-23 17:30:00+00:00,61.480000,90.167000,3830.75,1.09782,1.215214,1.27365,1806.300049,0.008579,27.635000,0.90384,31257.0,NaN,1.360,25.129999
2021-02-24 11:30:00+00:00,62.230000,90.110001,3879.25,1.10360,1.216989,1.28253,1807.199951,0.008564,27.865000,0.90728,31501.0,10711.290039,NaN,23.370000
2021-02-24 17:30:00+00:00,62.959999,90.217003,3908.25,1.10204,1.214477,1.27988,1797.699951,0.008571,27.809999,0.90750,31799.0,NaN,1.376,22.230000
2021-02-25 11:30:00+00:00,63.369999,89.777000,3911.50,1.10788,1.223242,1.28044,1785.199951,0.008525,28.045000,0.90587,31926.0,10701.480469,NaN,22.670000
2021-02-25 17:30:00+00:00,63.330002,89.974998,3832.00,1.10493,1.221747,1.27248,1771.599976,0.008500,27.580000,0.90476,31401.0,NaN,1.494,28.049999
2021-02-26 11:30:00+00:00,62.150002,90.661003,3816.50,1.09680,1.210947,1.26180,1758.199951,0.008511,26.760000,0.90599,31233.0,10624.030273,NaN,30.020000
2021-02-26 17:30:00+00:00,61.980000,90.875000,3838.00,1.09904,1.208167,1.26877,1724.400024,0.008522,26.334999,0.90983,31137.0,NaN,1.472,26.850000
2021-03-01 11:30:00+00:00,62.099998,91.071999,3846.25,1.09927,1.204674,1.27227,1741.199951,0.008554,26.915001,0.91274,31189.0,10615.629883,NaN,25.310000
2021-03-01 17:30:00+00:00,60.599998,91.072998,3891.75,1.10139,1.204529,1.27317,1725.099976,0.008566,26.740000,0.91460,31489.0,NaN,1.448,23.590000
2021-03-02 11:30:00+00:00,60.700001,91.115997,3887.25,1.10369,1.203659,1.27755,1725.500000,0.008570,26.315001,0.91730,31456.0,10822.459961,NaN,23.380000
2021-03-02 17:30:00+00:00,60.880001,90.806000,3889.00,1.10422,1.208313,1.27683,1735.500000,0.008564,26.790001,0.91413,31500.0,NaN,1.414,23.190001

In [ ]:
YM=F futures dj
CL=F oil
GC=F oro
^TNX treasury 10 anni
^VIX vix
EURCHF=X
USDCHF=X
JPYCHF=X
^SSMI
https://pypi.org/project/yfinance/